{% extends 'layout.html' %}
{% block content %}






<div class="col-md-4 offset-md-4 text-center bg-black">
    <div class="card card-body text-success p-5 bg-black">
        <h1>Password</h1>
        <p></p>
        <div>
            <p class="text-center">{{ password }}</p>
        </div>
        <p></p>
        <button class="btn btn-primary" onclick="copyToClipboard('{{ password }}')">Copy</button>
    </div>
</div>







<script>
    function copyToClipboard(text) {
        const tempInput = document.createElement('input');
        tempInput.value = text;
        document.body.appendChild(tempInput);
        tempInput.select();
        document.execCommand('copy');
        document.body.removeChild(tempInput);
    }
</script>

{% endblock %}