{% extends 'layout.html' %}
{% block content %}




<div class="col-md-4 offset-md-4">

  <form class="card card-body p-5 bg-black" method="POST">
    {% csrf_token %}
    <p></p>
    <h1 class="text-center text-success">Download</h1>
    <p></p>
    <select class="form-select" aria-label="Default select example" name="option"  style="background-color: rgb(56, 55, 55);">
      <option selected disabled >choose an option</option>
      <option value="1">YouTube</option>
      <!-- <option value="2">TikTok</option> -->
      <!-- <option value="3">Instagram</option> -->
    </select>
  
    <p></p>
  
    <div class="input-group mb-3">
      <input type="text" class="form-control" name="url" id="input-url" placeholder="Paste the video URL here" aria-label="Recipient's username" aria-describedby="button-addon2" style="background-color: rgb(56, 55, 55);">
    <p></p>

    <div id="liveAlertPlaceholder"></div>
      <button class="btn btn-outline-secondary" type="button" id="button-addon2" >Paste</button>

    </div>

    <p></p>
    <div class="d-grid gap-2">
      <button type="submit" class="btn btn-primary">Download</button>
    </div>
  </form>
</div>



<script>
const alertPlaceholder = document.getElementById('liveAlertPlaceholder')
const appendAlert = (message, type) => {
  const wrapper = document.createElement('div')
  wrapper.innerHTML = [
    `<div class="alert alert-${type} alert-dismissible" role="alert">`,
    `   <div>${message}</div>`,
    '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
    '</div>'
  ].join('')

  alertPlaceholder.append(wrapper)
}

const alertTrigger = document.getElementById('button-addon2')
if (alertTrigger) {
  alertTrigger.addEventListener('click', () => {
    appendAlert('Nice, you triggered this confirmation message!', 'success')
  })
}
</script>







<script>
  document.getElementById("button-addon2").addEventListener("click", function() {
    var inputElement = document.getElementById("input-url");
    navigator.clipboard.readText().then(function(clipboardText) {
      inputElement.value = clipboardText;
    }).catch(function(error) {
      console.error("Error al pegar el contenido del portapapeles:", error);
    });
  });
</script>

{% endblock %}
