{% extends 'layout.html' %}
{% block content %}




<div class="col-md-4 offset-md-4">

  <form class="card card-body p-5 bg-black" method="POST">
    {% csrf_token %}
    <h4 class="text-center text-success">Download</h4>
  
    <select class="form-select" aria-label="Default select example" name="option">
      <option selected disabled>Elije una opción</option>
      <option value="1">YouTube</option>
      <option value="2">TikTok</option>
      <option value="3">Instagram</option>
    </select>
  
    <p></p>
  
    <div class="input-group mb-3">
      <input type="text" class="form-control" name="url" id="input-url" placeholder="Pega aquí la URL" aria-label="Recipient's username" aria-describedby="button-addon2">
      <button class="btn btn-outline-secondary" type="button" id="button-addon2">Pegar</button>
    </div>
  
    <div class="d-grid gap-2">
      <button type="submit" class="btn btn-outline-secondary">Download</button>
    </div>
  </form>
</div>








<script>
  document.getElementById("button-addon2").addEventListener("click", function() {
    var inputElement = document.getElementById("input-url");
    navigator.clipboard.readText().then(function(clipboardText) {
      inputElement.value = clipboardText;
    }).catch(function(error) {
      console.error("Error al pegar el contenido del portapapeles:", error);
    });
  });
</script>

{% endblock %}
