{% extends 'layout.html' %}

{% block content %}

{% load static %}

<header class="row bg-dark my-auto">
    <div class="col-md-4">

        <img src="{% static 'porfolio/profile.jpeg' %}" alt="" class="img-fluid">
    </div>

    <div class="col-md-8">
        <h1>I am <strong> Fernando Gonzales</strong></h1>
        <h3>I am Python FullStack Developer</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis facere labore, quae laboriosam pariatur corrupti tempora, dolore dicta consectetur ipsa molestiae consequuntur nobis saepe quidem, ad tempore temporibus neque? Veritatis recusandae voluptate, nulla quidem vel eius nihil ipsa aut numquam architecto magnam, distinctio laudantium culpa, id aspernatur perspiciatis impedit molestiae doloribus odio. Provident eveniet facere nisi quod delectus aliquam corporis. Vel beatae voluptatum sequi aliquam natus laborum in molestiae earum quaerat esse amet consequuntur ex quia ipsa, ipsum rem autem fuga perspiciatis similique! Eveniet, molestias earum possimus id alias officia, quidem consectetur maiores saepe eaque quam dicta distinctio, quo perferendis?</p>
        <a href="{% static 'porfolio/Fernando Gonzales - CV.pdf' %}" class=" btn btn-primary btn-lg rounded-0 my-3">Dowload CV</a>

    </div>
</header>

<div class="row my-4 text-center">

    <h3> Mis Proyectos </h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque, quisquam.</p>

{% for project in projects %}

<div class="col-md-4 p-4">
    <div class="card bg-black card-project">
        <img src="{{project.image.url}}" alt="project.title" class="img-top">
      <div class="card-body">

        <h2>{{project.title}}</h2>
        <p>{{project.description}}</p>
        
    
    {% if project.url %}
        <a href="{{project.url}}" class="btn btn-light rounded-0 btn-sm" target="_blank" >{{project.url}}</a>
    {% endif%}

      </div>
        

    </div>
</div>


{% endfor%}

{% endblock %}
</div>